name: Build docs
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Cache sample data
      id: cache-data
      uses: actions/cache@v3
      with:
        path: "/home/runner/.cache/psipy"
        key: mas-data

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.9

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .[docs]

    - name: Build docs
      run: |
        cd docs
        make html
